{% extends 'base.html.twig' %} 


{% block body %}

{#
    <h3 class="my-4 mx-auto text-center">Information personnel</h3>

    <div class="col-md-11 mx-auto d-flex justify-content-center mt-5 mb-5 border p-3 info-perso" >
        <div class="col-md-6 rounded mr-3 mb-3 mb-sm-0">
            <div id="colorPerso" class=" col-md-12  mx-auto rounded d-flex flex-column justify-content-center text-white text-center p-3 border border-secondary">
                <img class="mt-4 mx-1 rounded border-top border-dark " src="{{ app.user.image|replace({"640/480": "350/210"}) }}"><hr>
                <p id="divInfoPersoOff" class="p-2 rounded  border-top border-dark ">{{ app.user.pseudo }}</p>
                <p id="divInfoPersoOff" class="p-2 rounded border-top border-dark ">{{ app.user.email|raw }}</p>
                <a id="divInfoPersoOn" class="p-2 rounded  text-white text-decoration-none border-top border-dark " href="{{ path('annonce_personnel', {'id': app.user.id}) }}">Ma page personnel</a>
                {# <p class="p-2 rounded bg-secondary">{{ user.telephone|raw }}</p>
            </div>
        </div>
    </div>

        <div class="col-md-6"> #}

<h3 class="my-4 mx-auto text-center">Information personnel</h3>


<div class="col-md-11 mx-auto d-flex justify-content-center mt-5 mb-5 border p-3 info-perso">
    <div class="col-md-6 rounded mr-3">
        <div id="colorPerso" class=" col-md-12  mx-auto border border-secondary rounded d-flex flex-column justify-content-center text-white text-center p-3 border border-secondary">
            <img class="mt-4 mx-1 rounded border-top border-dark " src="{{ app.user.image|replace({" 640/480 ": "350/210 "}) }}">
            <hr>
            <p id="divInfoPersoOff" class="p-2 rounded  border-top border-dark ">{{ app.user.pseudo }}</p>
            <p id="divInfoPersoOff" class="p-2 rounded border-top border-dark "><i class="far fa-envelope mr-2"></i>{{ app.user.email|raw }}</p>
            <a id="divInfoPersoOn" class="p-2 rounded  text-white text-decoration-none border-top border-dark" href="{{ path('annonce_personnel', {'id': app.user.id}) }}">Ma page personnel</a>
        </div>
    </div>
</div>


    <div class="col-md-6">
        <div id="colorPerso" class="col-md-12 d-flex rounded border border-secondary">


            {{ form_start( formDonneePersonnel, { 'attr' : { 'class' : 'col-md-12 rounded p-3 text-white mb-5 ' }}) }} 
            {{ form_row(formDonneePersonnel.imageFile, { 'label' : "Photo de profil"}) }} 
            {{ form_row(formDonneePersonnel.prenom) }} 
            {{ form_row(formDonneePersonnel.nom) }} 
            {{ form_row(formDonneePersonnel.email) }} 
            {{ form_row(formDonneePersonnel.ville) }} 
            {{ form_row(formDonneePersonnel.password, { 'label' : "Mot de passe"}) }} 
            {{ form_row(formDonneePersonnel.confirm_password, { 'label' : "Confirmez votre mot de passe"}) }} 
            {{ form_row(formDonneePersonnel.adresse) }} 
            {{ form_row(formDonneePersonnel.pseudo) }} 
            {{ form_row(formDonneePersonnel.civilite) }} 
            {{ form_row(formDonneePersonnel.birth, { 'label' : "Date de naissance"}) }} 
            {{ form_row(formDonneePersonnel.telephone, { 'label' : "Telephone"}) }} 

                <div class="col-md-12 d-flex justify-content-end">
                    <button id="colorBtnInputy " class="btn btn-dark rounded" type="submit">Modifier</button>
                </div>

                {{ form_end(formDonneePersonnel) }} 
        </div>

    

    </div>
</div>





{# {% endif %} #} {# {{ dump(app); }} #} {% endblock %}
