{% extends 'base.html.twig' %} 

{% block title %}Hello BlogController!{% endblock %} 


{% block body %}

<h2 class="text-center my-5 col-md-3 mx-auto  p-2">Page personnelle</h2>
<hr>


<div class="d-flex" >
    
    <div class="row d-flex justify-content-between mt-5 mb-5" >
        <div class="col-md-4 rounded">
            <div class="col-md-10 bg-dark rounded d-flex flex-column justify-content-center ml-5 text-white text-center p-3">
                <img class="mt-4 rounded" src="{{ user.image|replace({"640/480": "350/200"}) }}"><hr>
                <p class="p-2 rounded bg-secondary">{{ user.pseudo }}</p>
                <p class="p-2 rounded bg-secondary"><i class="far fa-envelope mr-2"></i><a class="text-white" href="mailto:{{ user.email }}">{{ user.email|raw }}</a></p>
                <p class="p-2 rounded bg-secondary"><i class="fas fa-phone-alt mr-2"></i>{{ user.telephone }}</p>
                {% if app.user %}
                    <a class="p-2 rounded bg-primary text-white text-decoration-none" href="{{ path('modifierProfil', {'id': app.user.id}) }}">Mes Informations personnel</a>      
                {% endif %}
            </div>
       

        </div>
    </div>

    <div id="colorPerso" class="col-md-8 rounded border border-secondary">
        <div class="col-md-12 d-flex justify-content-center  ">

            <div id="colorPerso" class="row mb-1 d-flex justify-content-center  text-white">
                {% for annoncePersonnel in user.annonce %}
                <div class="col-md-3   m-4 p-3 bg-secondary rounded border border-dark">
                    <img class="card-img-top" src="{{ asset('images/produits/' ~ annoncePersonnel.image ) }}" alt="Card image cap">
                    <strong>{{ annoncePersonnel.title }}</strong>
                    <p>{{ annoncePersonnel.prix }} €</p>
                    <p class="text-right">Posté le {{ annoncePersonnel.CreatedAt|date('d/m/Y') }} à {{ annoncePersonnel.CreatedAt|date('H:i:s') }}</p>
                    <div class="col-md-12 d-flex-justify-content-end">

                        <a id="colorBtnInput " class="btn btn-success rounded text-white" href="{{ path('blog_show', {'id': annoncePersonnel.id} ) }}">Voir</a>
                        {% if app.user.id == annoncePersonnel.user.id %}
                            <a id="colorBtnInput " class="btn rounded bg-white mr-2 ml-2" href="{{ path('blogEdit', {'id': annoncePersonnel.id}) }}"><i style="color: rgb(160, 9, 127);" class="fas fa-pen"></i></a>
                            <a id="colorBtnInput " class="btn rounded bg-white" href="{{ path('delete', {'id': annoncePersonnel.id}) }}" onclick="return confirm('Attention ceci va supprimer l\'annonce')" ><i style="color: rgb(160, 9, 9);" class="far fa-trash-alt"></i></a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

