{% extends 'base.html.twig' %}

{# {% form_theme formAnnonce 'bootstrap_4_layout.html.twig' %} #}

{% block body %}

<div class="container mx-auto">

    <h1 class="text-center mt-3">
        {% if editMode %}
            MODIFICATION DE L'ANNONCE
        {% else %}
             DEPOSER UNE ANNONCE
        {% endif %}
    </h1><hr>    


    {{ form_start(formAnnonce, { 'attr' : { 'class' : 'col-md-6 bg-secondary rounded p-3 text-white mb-5 mx-auto' }} ) }}

        {{ form_row(formAnnonce.title, {'label': 'Titre', 'attr': {'placeholder': "Titre de l'annonce"}} ) }}    
        {{ form_row(formAnnonce.category, {'label' : 'Catégorie'}, {'attr': {'placeholder': "Choississez votre catégories"}} ) }}    
        {{ form_row(formAnnonce.Prix, {'attr': {'placeholder': "Prix de l'annonce"}} ) }}                              
        {{ form_row(formAnnonce.imageFile, {'label': 'Image'}) }}
        {{ form_row(formAnnonce.description, {'attr': {'placeholder': "Ajoutez une description"}} ) }}                              

        <button type="submit" class="btn btn-success">                  
            {% if editMode %}
                Enregistrer les modification
            {% else %}
                Ajouter l'annonce
            {% endif %}
        </button>                                                             
        
    {{ form_end(formAnnonce) }}

</div>

{% endblock %}
