{% extends "base.html.twig" %}

{% block Bienvenue %}

    <h1 id="titre-accueil" class='mx-auto text-white mb-5 text-center bienvenue ml2 d-none d-sm-block'>{{ title }}</h1>
                        
{% endblock %}

{% block body %}
   
    <section class="annonces row d-flex justify-content-center">
        {% for annonce in annonces %}

            {#{% if annonce.category.id == categories.id %}#}
                <article class="col-md-3 border border-secondary rounded mr-5 mb-5 mt-5 text-center">
                    <img src="{{ annonce.Image }}" alt="{{ annonce.title }}" class="col-md-12 rounded"><hr>
                    <h2>{{ annonce.title }}</h2>
                    <p> Prix : <span class="font-weight-bold" >{{ annonce.prix }}</span></p><hr>
                    <p> Catégory : <span class="font-weight-bold" >{{ annonce.category.nom }}</span></p><hr>
                    <div class="metadata">Posté le {{annonce.createdAt | date('d/m/y') }} à {{annonce.createdAt | date('H:i') }} dans la categorie  #yy {#{{annonce.category.title}}#}</div> 
                    <a href="{{ path('blog_show', {'id':annonce.id}) }}" class="btn btn-primary">Voir l'annonce</a>
                </article>
            {#{% endif %}#}

        {% endfor %}
    </section>

    
{% endblock %}