{% extends 'base.html.twig' %} {% block title %}Hello BlogController!{% endblock %} {% block Bienvenue %}

<h1 id="titre-accueil" class='display-4 text-white mb-5'>{{ title }}</h1>

{% endblock %} {% block body %}



<section class="annonces row d-flex justify-content-center">
    {% for annonce in annonces %}
    <article id="colorPerso" class="col-md-3 border border-dark rounded mr-5 mb-5 mt-5 text-center">
        <img src="{{ annonce.Image }}" alt="{{ annonce.title }}" class="col-md-12 rounded">
        <hr>
        <h2>{{ annonce.title }}</h2>
        <p> Prix : {{ annonce.prix }}</p>
        <hr>
        <div class="metadata btnDown">Posté le {{annonce.createdAt | date('d/m/y') }} à {{annonce.createdAt | date('H:i') }} dans la categorie #yy {#{{annonce.category.title}}#}</div>
        <a id="divInfoPersoOn" href="{{ path('blog_show', {'id':annonce.id}) }}" class="btn">Voir l'annonce</a>
    </article>

    {% endfor %}
</section>

{% endblock %}