{% extends "base.html.twig" %}

{% block Bienvenue %}

    <h1 id="titre-accueil" class='display-4 text-white mb-5'>{{ title }}</h1>
                        
{% endblock %}

{% block Categories %}

    <div class="col-md-4 rounded p-5">                            
        {{form_start(formCategory)}}
            <div class="form-row">
                <div id="cadre-recherche" class="form-group col-md-11 rounded p-2 pl-5 pr-5 mx-auto m-0 text-white">
                    {{ form_row(formCategory.category) }}
                </div>
                <div class="mt-5 d-flex justify-content-center col-md-12">
                    <button type="submit" class="btn btn-success col-md-5">Rechercher</button>
                </div>
            </div>
        {{form_end(formCategory)}}
    </div>

{% endblock %}
{% block body %}

   
    <section class="annonces row d-flex justify-content-center">
        {% for annonce in annonces %}
            {% if annonce.category.id == categories.id %}
                <article class="col-md-3 border border-secondary rounded mr-5 mb-5 mt-5 text-center p-2">
                    <img src="{{ annonce.Image }}" alt="{{ annonce.title }}" class="col-md-12 rounded"><hr>
                    <h5>{{ annonce.title|slice(3, 25)|raw }}</h5>
                    <p> Prix : <span class="font-weight-bold" >{{ annonce.prix }}</span></p><hr>
                    <p> Catégorie : <span class="font-weight-bold" >{{ annonce.category.nom }}</span></p><hr>
                    <div class="metadata text-right m-3">Posté le {{annonce.createdAt | date('d/m/y') }} à {{annonce.createdAt | date('H:i') }}</div> 
                    <a href="{{ path('blog_show', {'id':annonce.id}) }}" class="btn btn-primary">Voir l'annonce</a>
                </article>
            {% endif %}

        {% endfor %}
    </section>
    
{% endblock %}