{% extends "base.html.twig" %}

{% block body %}


	<div class="row text-center">
		{# <div class="col-md-2 ">
			titre</div>
		<div class="col-md-3">deposer une annonce</div>
		<div class="col-md-3">Mes recherches</div>
		<div class="col-md-2">Favori</div>
		<div class="col-md-2">compte</div>
	</div> #}

    
	<div class="container d-flex justify-around mt-5 mb-5">
    <br>
    <br>

		<div class="col-md-8">
			<div class="image">
				<article>
					<img src="{{ annonce.Image }}" alt="{{ annonce.title }}" class="col-md-12 rounded"><hr>
					<h2>{{ annonce.title }}</h2>

					<p>
						Prix :
						{{ annonce.prix }}</p><hr>
					<div class="metadata">Posté le
						{{annonce.createdAt | date('d/m/y') }}
						à
						{{annonce.createdAt | date('H:i') }}

                        dans la categorie : <span class="font-weight-bold" >{{ annonce.category.nom}}</span>
                    </div><hr>
                    <div class="col-md-12 text-left">
                        <label class="font-weight-bold col-md-2 text-center bg-secondary text-white p-2 rounded">Description</label>
                        <div class="rounded border col-md-11 text-left p-3 mb-5 mr-2">{{ annonce.description }} </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-3"><a href="{{ path('blog') }}" class="btn btn-primary">acceuil</a></div>
                        <div class="col-md-3"><a href="{{ path('blogEdit', {'id': annonce.id}) }}" class="btn btn-primary">Modifier</a> </div>
                        <div class="col-md-3"><a href="{{ path('delete', {'id': annonce.id}) }}" class="btn btn-primary" onclick="return confirm('Attention ceci va supprimer l\'annonce')">Supprimer 
                        </a> </div>
                    </div>

				</article>
			</div>

		</div>
		<div class="col-md-4 border border-secondary rounded">
			<div class="container ">
                <div class="containet border border-secondary rounded d-flex justify-around">
                    <div class="col-md-5">
                        <div class="row">
                            <h4 class="text-center">Auteur</h4>
                        </div>
                        <div class="row">
                            <img src="https://i.ytimg.com/vi/fDm8JdCAPeM/maxresdefault.jpg" alt="avatar" class="img-thumbnail rounded-circle">
                        </div>
                        <div class="row">	
                                <a href="#" class="text-center">PAGE PERSONNEL</a>
                        </div>

                    </div>

                    <div class="col-md-7">

                        <div class="row d-flex justify-content-center">
                            <h3 class="text-center">Contact</h3>
                        </div>
                        <div class="row">
                            <h5>Email: xxxxxx</h5>
                        </div>
                        <div class="row">
                            <h5>Tèl: xxxxxxx</h5>
                        </div>
                        <div class="row">
                            <h5>Ville : xxxxxxxxxxxxxx</h5>
                            <h5>Code postale : xxxxxxxxxxx</h5>
                        </div>
                    
                    </div>
                </div>

                <br>
{               
                <div class="border border-secondary rounded d-flex justify-around">
                    <div class="col md-6 border border-secondary rounded d-flex align-items-center">
                        
								<img src="https://i.ytimg.com/vi/fDm8JdCAPeM/maxresdefault.jpg" class="img-fluid heigth: 100% width: 100%" alt="">
					
                    </div>
                    <div class="col md-6 border border-secondary rounded">
                        <div class="row">
                            <h5>Titre : {{ annonce.title }}</h5>
                        </div>
                        <div class="row">
                            <h5>Ville : xxxxxxxxxxx</h5>
                            <h5>Code postale : xxxxxx</h5>
                        </div>
                        <div class="row">
                            <h5>Prix : {{ annonce.prix }}$</h5>
                        </div>
                        <div class="row">
                            <p class="text-right">Ajouté le {{annonce.createdAt | date('d/m/y') }}</p>
                        </div>
                    </div>
                		
                </div>

                <br>

                <div class="border border-secondary rounded d-flex justify-around">
                    <div class="col md-6 border border-secondary rounded d-flex align-items-center">                       
						<img src="https://i.ytimg.com/vi/fDm8JdCAPeM/maxresdefault.jpg" class="img-fluid heigth: 100% width: 100%" alt="">					
                    </div>
                    <div class="col md-6 border border-secondary rounded">
                        <div class="row">
                            <h5>Titre</h5>
                        </div>
                        <div class="row">
                            <h5>Code postale, Ville</h5>
                        </div>
                        <div class="row">
                            <h5>Prix</h5>
                        </div>
                        <div class="row">
                            <p class="text-right">Ajouté le 11/06/20 à 12:22</p>
                        </div>
                    </div>
                		
                </div> 

                
			</div>
		</div>

	</div>


{% endblock %}
